<ion-pane class="login app-pane">

  <!-- LOGIN LOGOS/NAME -->
  <div class="logos">
    <img class="logo" src="img/icon_full.png">
    <img class="text" src="img/text_full.png">
  </div>

  <!-- LOGIN FORM -->
  <div class="login-form">

    <!-- SUBMIT PLACEHOLDER -->
    <div class="row">
      <div class="col col-80 col-offset-10">
        <a class="button button-block button-padded button-outline" ng-click="login('twitter')">
          Log In with <b>Twitter</b>
        </a>

        <a class="button button-block button-padded button-outline" ng-click="login('facebook')">
          Log In with <b>Facebook</b>
        </a>
      </div>
    </div>

  </div>
</ion-pane>